# Dependencies
node_modules/

# Environment files
.env
.env.*
.env.local

# Secrets and Firebase Service Account Keys
*.pem
*.key
service-account*.json
*service-account*.json
*serviceaccount*.json
firebase-*.json
firebase-key*.json
secrets/*.json

# Logs
logs/
*.log
